/* =====================
     Root
  ===================== */
:root {
  --background-color: #ffffff;
  --widget-background-color: #f2f2f7;
  --outline-color: rgba(0, 0, 0, 0.08);
  --heading-color: #111827;
  --text-color: #374151;
  --secondary-text-color: #6b7280;
  --accent-blue-color: #1e40af;
  --accent-light-green-color: #66bb6a;
  --accent-dark-green-color: #00b04d;
  --accent-orange-color: #f39c12;
  --accent-cool-blue-color: #3498db;
  --accent-red-color: #ff4d56;
  --top-height: 60px;
  --bottom-height: 80px;
  /* --background-color: #ffffff;
  --widget-background-color: #eaf2ff; blaue Version*/
}

[data-theme="dark"] {
  --background-color: #000000;
  --widget-background-color: #1c1c1e;
  --outline-color: rgba(255, 255, 255, 0.08);
  --heading-color: #f9fafb;
  --text-color: #d1d5db;
  --secondary-text-color: #9ca3af;
  --secondary-text-color: #6b7280;
  /* --background-color: #000000;
  --widget-background-color: #0f1a2b; blaue Version*/
}
* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
/* =====================
     Allgemein + Loader
  ===================== */
html {
  scroll-behavior: smooth;
}
#loader {
  position: fixed;
  inset: 0;
  background-color: var(--background-color);
  z-index: 9999;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--secondary-text-color);
  font-size: 20px;
}
#loader.hide {
  opacity: 0;
  pointer-events: none;
}
#loader img {
  width: 192px;
  border-radius: 40px;
}
#loader .loader-logo {
  color: var(--heading-color);
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: var(--background-color);
  margin: 0;
  padding: 20px;
}
/* =====================
     Top-bar, Pages, Bottom-bar
  ===================== */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--top-height);
  background: var(--widget-background-color);
  border-bottom: 1px solid var(--outline-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--heading-color);
  font-size: 30px;
  z-index: 1000;
  padding-top: env(safe-area-inset-top);
}
.top-bar img {
  object-fit: cover;
}
.top-bar div {
  padding: 0 10px;
  border-radius: 5px;
}
.top-bar,
.bottom-bar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.tab {
  background: none;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #777;
  cursor: pointer;
  transition: color 0.3s;
}

.tab .icon {
  font-size: 30px;
  transition:
    transform 0.3s,
    color 0.3s;
  color: var(--text-color);
}

.tab.active {
  color: var(--heading-color);
}

.tab.active .icon {
  transform: translateY(-4px) scale(1.1);
  color: var(--heading-color);
}

/* 🟢 Beweglicher Indikator */
.indicator {
  position: absolute;
  bottom: 6px;
  width: 40px;
  height: 4px;
  border-radius: 2px;
  transition: transform 0.3s ease;
}
.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--bottom-height);
  background: var(--widget-background-color);
  border-top: 1px solid var(--outline-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  padding-bottom: constant(safe-area-inset-bottom); /* alte Syntax iOS */
  padding-bottom: env(safe-area-inset-bottom);
}

/*==============
Home
==============*/
.home-first {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.home-heading {
  color: var(--heading-color);
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: bold;
}
.colors {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.colors div {
  padding: 8px;
  border-radius: 10px;
  margin: 0;
  display: flex;
  gap: 4px;
}

.menu-item {
  cursor: pointer;
  background: var(--widget-background-color);
  border-radius: 10px;
  height: 350px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#home-random .menu-item {
  margin-bottom: 20px;
}
.rezept-name {
  margin-bottom: 0;
}
.menu-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.menu-daily {
  position: relative;
  overflow: hidden;
}
.menu-daily-tipp {
  position: absolute;
  z-index: 10;
  transform: rotate(35deg);
  font-weight: bold;
  padding: 40px 20px 5px 40px;
  width: 100px;
  text-align: center;
  top: -20px;
  right: -40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#home-random .menu-item:nth-child(1) .menu-daily-tipp {
  background-color: var(--accent-blue-color);
}
#home-random .menu-item:nth-child(2) .menu-daily-tipp {
  background-color: var(--accent-red-color);
}
#home-random .menu-item:nth-child(3) .menu-daily-tipp {
  background: linear-gradient(
    15deg,
    var(--accent-light-green-color),
    var(--accent-dark-green-color)
  );
}

body {
  font-family: system-ui, sans-serif;
  padding: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}
a {
  color: var(--heading-color);
  text-decoration: none;
}
/* =====================
   Menu
===================== */
#menu {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-list {
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(220px, 500px));*/
  gap: 1rem;
}
.menu-first {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#search-input {
  background-color: var(--widget-background-color);
  color: var(--heading-color);
  font-size: 18px;
  border: transparent;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid var(--widget-background-color);
  transition: all 0.3s ease;
  margin-bottom: 10px;
}
#search-input:focus {
  outline: none;
  border: 1px solid var(--accent-blue-color);
}
/* Nur anzeigen, wenn input fokussiert.
.menu-first .colors {
  display: none;
}
.menu-first #search-input:focus ~ .colors {
  display: flex;
}*/
/* Detail */
.no-scroll {
  overflow: hidden;
  touch-action: none;
}
.menu-page{
  margin-bottom: calc(var(--bottom-height) + 10px);
}
.menu-detail {
  position: fixed;
  inset: 0;
  background-color: var(--background-color);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  overflow-y: auto; /* Detail darf selbst scrollen */
  padding-top: var(--top-height);
  display: flex;
  justify-content: center;
}
.menu-detail.active {
  transform: translateX(0);
}
.rezept-detail {
  height: 400vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#backBtn,
.suggestion {
  background-color: var(--widget-background-color);
  border-color: transparent;
  padding: 10px;
  border-radius: 17px;
  margin: 20px 0 10px 0;
  width: fit-content;
  color: var(--heading-color);
  font-size: 18px;
}
.rimg {
  width: 80vw;
  border-radius: 20px;
  align-self: center;
}
h3 {
  margin: 0;
  padding: 0;
}
.zutaten-liste {
  text-align: left;
  padding-left: 15px;
}
/*==============
Einstellungen
==============*/
.element {
  background-color: var(--widget-background-color);
  height: 7vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom-color: var(--secondary-text-color);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.element.first {
  border-radius: 20px 20px 0 0;
}
.element.last {
  border-radius: 0 0 20px 20px;
  border: none;
}
.by {
  color: var(--secondary-text-color);
  padding-top: 10px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #ccc;
  border-radius: 999px;
  transition: background-color 0.25s ease;
}

.slider::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.25s ease;
}

/* checked = dark */
input:checked + .slider {
  background-color: #4f46e5;
}

input:checked + .slider::before {
  transform: translateX(24px);
}
.image-wrapper {
  position: relative;
  width: 192px;
  margin: 0 auto;
  top: 80px;
}

.image-wrapper img {
  display: block;
  max-width: 100%;
}

.img-dark,
.img-light {
  position: absolute;
  top: 0;
  left: 0;
}

.img-dark {
  opacity: 0;
}
:root[data-theme="dark"] .img-light {
  opacity: 0;
}

:root[data-theme="dark"] .img-dark {
  opacity: 1;
}

/* Im js eingefügt bei Menu */

#updateToast {
  position: fixed;
  padding: 0;
  margin: 0;
  padding-top: 40px;
  width: 79vw;
}
#updateToastContainer {
  background: var(--widget-background-color);
  color: var(--heading-color);
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#updateToast button {
  background: #4caf50;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  margin-left: 10px;
  border-radius: 4px;
}
/* =====================
     Main
  ===================== */

section {
  margin-top: var(--top-height);
  margin-bottom: var(--bottom-height);
  color: var(--heading-color);
  width: 80vw;
  align-self: center;
}
.blue {
  background-color: var(--accent-blue-color);
}
.red {
  background-color: var(--accent-red-color);
}
.green {
  background: linear-gradient(
    135deg,
    var(--accent-light-green-color),
    var(--accent-dark-green-color)
  );
}
.light-green {
  background-color: var(--accent-light-green-color);
}
.dark-green {
  background-color: var(--accent-dark-green-color);
}
.orange {
  background-color: var(--accent-orange-color);
}
.cool-blue {
  background-color: var(--accent-cool-blue-color);
}
.ball {
  width: 8px;
}
.colors img{
 height: 20px;
}
/*
Muss hier, wird sonst überschrieben
*/
.page {
  display: none !important;
}
.page.active {
  display: block !important;
  animation: fadeIn 0.3s ease;
}
